@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	margin:0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,.05); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e30505 !important; /*iconic red*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e30505 !important; /*iconic red*/
}


/*mainnav*/
.costumMainNav {
	background-color: #e30505 !important; /*iconic red*/
	box-shadow: none !important;
	font-weight: bold;
}

.costumMainNav .nav-wrapper .brand-logo img{
	margin-top: 8px;
	width: 100px;
}
/*penutup mainnav*/
/*dropdown mainnav*/
#dropdown1 .app-bg {
	margin-top: 100px;
	background-color: green;
}

.costumDropDown li a{
	color: rgba(0,0,0,.87);
	font-weight: bold;
}
/*penutup dropdown mainnav*/

/*slider main*/
.slider .slidesSatu li .caption h3 {
	margin-top: 18vh;
	font-weight: bold;
	font-size: 9vh;
}
/*penutup slider main*/


/*carousel pesan*/
.carousel {
	/*background-color: green;*/
	margin: 100px auto;
	/*width: 820px;*/
}

.carousel .indicators .indicator-item {
	background-color: #db7474;
}

.carousel .indicators .indicator-item.active {
	background-color: #e30505 !important; /*iconic red*/
}

.carousel .carousel-item {
	width: 420px;
	/*background-color: salmon;*/
	margin-top: -100px !important;
}

.carousel .carousel-item img {
	width: 420px;
	margin: auto;
	/*background-color: red;*/
}

/*responsive carousel*/
@media only screen and (max-width: 860px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 600px;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.carousel .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.carousel .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 600px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 500px;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.carousel .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.carousel .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 500px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 450px;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.carousel .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.carousel .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 450px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 400px;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.carousel .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.carousel .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 400px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 350px;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.carousel .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.carousel .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 350px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 300px;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.carousel .carousel-item {
		width: 300px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.carousel .carousel-item img {
		width: 300px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 300px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 250px;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.carousel .carousel-item {
		width: 300px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.carousel .carousel-item img {
		width: 300px;
		margin: auto;
		/*background-color: red;*/
	}
}
/*penutup carousel pesan*/

