@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	margin:0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e30505 !important; /*iconic red*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e30505 !important; /*iconic red*/
}


/*mainnav*/
.costumMainNav {
	background-color: #e30505 !important; /*iconic red*/
	box-shadow: none !important;
	font-weight: bold;
}

.costumMainNav .nav-wrapper .brand-logo img{
	margin-top: 8px;
	width: 100px;
}
/*penutup mainnav*/
/*dropdown mainnav*/
.costumSidenavParent {
	border-top-right-radius: 15px !important;
}

.costumDropDown li a{
	color: rgba(0,0,0,.87);
	font-weight: bold;
}
/*penutup dropdown mainnav*/
/*sidenav*/
.sidenav #sidenavLogo {
	background-color: #e30505; /*iconicred*/
	padding: 0;
	border-bottom-right-radius: 20px;
}

.sidenav #sidenavLogo img {
	margin-left: 30px;	
}

/*penutup sidenav*/
/*slider main*/
.costumSlide ul {
	height: 100vh !important;
}

.slider .slidesSatu li .caption h3 {
	margin-top: 18vh;
	font-weight: bold;
	font-size: 9vh;
}
/*penutup slider main*/

/*tentang kami*/
#aboutTitleWrapper #aboutTitle  {
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	margin-top: 100px;
}

.tentangKamiWrapper {
	display: flex;
	flex-direction: row;
}
/*penutup tentang kami*/

/*produk title*/
#produkTitleWrapper #produkTitle {
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	margin-top: 100px;
}
/*penutup produk title*/

/*carousel tentang kami*/
/*.costumCarouselTentang {
	width: 200px !important;
}
*/


/*penutup carousel tentang kami*/

/*carousel pesan*/
.carousel {
	/*background-color: green;*/
	margin: auto;
	margin-bottom: 100px;
	/*width: 820px;*/
}

/*.carousel .indicators .indicator-item {
	background-color: #db7474;
}

.carousel .indicators .indicator-item.active {
	background-color: #e30505 !important; 
}*/

.costumCarouselProduk .carousel-item {
	width: 420px;
	/*background-color: salmon;*/
	margin-top: -100px !important;
}

.costumCarouselProduk .carousel-item img {
	width: 420px;
	margin: auto;
	/*background-color: red;*/
	position: relative;
}

.costumCarouselProduk .carousel-item a {
	margin-top: -200px;
	position: relative;
}

.costumCarouselProduk .carousel-item .tombolRemove {
	position: relative;
}

/*responsive carousel*/
@media only screen and (max-width: 860px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 600px !important;
	}
	/*css diatas meliputi carousel pesan dan carousel tentang kami*/

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.costumCarouselProduk .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.costumCarouselProduk .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 600px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 500px !important;
	}

	.costumCarouselTentang{
		width: 450px !important;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.costumCarouselProduk .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.costumCarouselProduk .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 500px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 450px !important;
	}

	.costumCarouselTentang{
		width: 400px !important;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.costumCarouselProduk .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.costumCarouselProduk .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
}

@media only screen and (max-width: 450px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 400px !important;
	}

	.costumCarouselTentang{
		width: 350px !important;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.costumCarouselProduk .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.costumCarouselProduk .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}
	
	.costumCarouselProduk .carousel-item a {
		margin-top: -200px;
		margin-left: 20px;
		position: relative;
	}
}

@media only screen and (max-width: 400px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 350px !important;
	}

	.costumCarouselTentang{
		width: 300px !important;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.costumCarouselProduk .carousel-item {
		width: 420px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.costumCarouselProduk .carousel-item img {
		width: 420px;
		margin: auto;
		/*background-color: red;*/
	}

	.costumCarouselProduk .carousel-item a {
		margin-top: -200px;
		margin-left: 50px;
		position: relative;
	}
}

@media only screen and (max-width: 350px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 300px !important;
	}

	.costumCarouselTentang{
		width: 250px !important;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.costumCarouselProduk .carousel-item {
		width: 300px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.costumCarouselProduk .carousel-item img {
		width: 300px;
		margin: auto;
		/*background-color: red;*/
	}

	.costumCarouselProduk .carousel-item a {
		margin-top: -200px;
		margin-left: 20px;
		position: relative;
	}
}

@media only screen and (max-width: 300px){
	/*carousel pesan*/
	.carousel {
		/*background-color: green;*/
		margin: 100px auto;
		width: 250px !important;
	}

	.costumCarouselTentang{
		width: 200px !important;
	}

	.carousel .indicators .indicator-item {
		background-color: #db7474;
	}

	.carousel .indicators .indicator-item.active {
		background-color: #e30505 !important; /*iconic red*/
	}

	.costumCarouselProduk .carousel-item {
		width: 300px;
		/*background-color: salmon;*/
		margin-top: -100px !important;
	}

	.costumCarouselProduk .carousel-item img {
		width: 300px;
		margin: auto;
		/*background-color: red;*/
	}

	.costumCarouselProduk .carousel-item a {
		margin-top: -200px;
		margin-left: 30px;
		position: relative;
	}
}
/*penutup carousel pesan*/


/*pesan*/
/*dialogBox Carousel*/
/*.dialogBoxParentMuncul*/
#dialogBoxWrapper .dialogBoxParentMuncul {
	/*height: 100px;*/
	padding: 10px;
	background-color: #e30505;
	width: 40%;
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	z-index: 999;
}

#dialogBoxWrapper .dialogBoxParentMuncul #produk1TriggerWrapper {
	/*width: 20px;*/
	/*height: 20px;*/
	/*background-color: yellow;*/
	margin: 5px auto;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	color: rgba(255,255,255,1);
	z-index: 999;
}

#dialogBoxWrapper .dialogBoxParentMuncul #produk2TriggerWrapper {
	/*width: 20px;*/
	/*height: 20px;*/
	/*background-color: lightgreen;*/
	margin: 5px auto;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	color: rgba(255,255,255,1);
	z-index: 999;
}

#dialogBoxWrapper .dialogBoxParentMuncul #produk3TriggerWrapper {
	/*width: 20px;*/
	/*height: 20px;*/
	/*background-color: lightblue;*/
	margin: 5px auto;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	color: rgba(255,255,255,1);
	z-index: 999;
}
/*penutup .dialogBoxParentMuncul*/

/*totalwrapper*/
#dialogBoxWrapper #totalWrapper {
	width: 30%;
	left: 30%;
	position: fixed;
	bottom: 0;
	background-color: #e30505; /*iconic red*/
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index: 999;
}

#dialogBoxWrapper #totalWrapper p {
	font-weight: bold;
	padding: 25px;
	color: rgba(255,255,255,1);
}
/*penutup totalwrapper*/

/*bayar*/
#dialogBoxWrapper #bayar {
	position: fixed;
	bottom: 0;
	background-color: #5cdb5c; /*green*/
	height: 70px;
	width: 30%;
	left: 0;
	text-align: center;
	z-index: 999;
}

#dialogBoxWrapper #bayar img {
	margin-bottom: -4.5px;
	margin-right: 5px;
	width: 22px;
}

#dialogBoxWrapper #bayar a {
	line-height: 80px;
	font-weight: bold;
	color: rgba(0,0,0,1);
}
/*penutup*/
/*pop up confirm*/
.toggleBayar {
	display: block;
}

.toggleBayarShow {
	display: none;
}

#popUpConfirm {
	background-color: rgba(0,0,0,.9);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

#popUpConfirm #dialogPopUp {
	position: relative;
	top: 25%;
	margin: auto;
	width: 70%;
	height: 50%;
	background-color: rgba(255,255,255,1);
	border-radius: 25px;
}

#popUpConfirm #dialogPopUp #tagclose{
	position: absolute;
	top: -2.5%;
	left: -2.5%;
	color: rgba(255,255,255,1);
	font-size: 18px;
	font-weight: bold;
	z-index: 9999;
}

#popUpConfirm #dialogPopUp form {
	width: 90%;
	height: 90%;
	margin: auto;
	position: relative;
	top: 5%;
/*	background-color: red;
*/}

#popUpConfirm #dialogPopUp form #sentForm {
	background-color: #04c237;
	padding: 2px;
	color: rgba(255,255,255,1);
	border-radius: 2px;
}

/*penutup pop up confirm*/
/*penutup pesan*/
/*penutup dialogBox carousel*/

/*footer*/
footer {
	background-color: #e30505; /*iconic red*/
	margin:0;
/*	height: 50vh;
*/	width: 100%;
	padding-top: 25px;
	padding-bottom: 0;
	background-image: url(../img/icon/chickenIcon-bg2.png);
	background-image: filter
}

footer #footerChildWrapper {
	margin: 50px auto;
	width: 100%;
	/*background-color: green;*/
	position: relative;
}

footer h3 {
	color: rgba(255,255,255,1);
	text-align: center;
	font-weight: bold;
	font-size: 82px;
	display: block;
}

footer h4 {
	text-align: center;
	color: rgba(255,255,255,1);
	font-size: 32px;
	font-weight: bold;
	display: block;
}

footer ul {
	margin-top: -50px;
	/*background-color: salmon;*/
	text-align: center;
}

footer ul li {
	display: inline-block;
	margin: 5px;
}

footer ul li a img {
	/*margin-right: 10px !important;*/
	display: inline-block;
}

footer ul li a span {
	color: rgba(255,255,255,1);
	display: inline-block;
}

footer .footerIcon{
	width: 12px;
	text-align: center;
	margin-right: 2px;
}

footer #wave-ft {
	margin: 0;
	width: 100%;
	height: 50px;
	margin-top: 100px;
	padding: 0;
	background: url(../img/miscellaneous/wave.png);
	background-repeat-y:no-repeat; 
	animation: animasiFooter 7s linear infinite;
	animation-delay: 0s;
	left: 0;
	background-size: 700px 50px;
}

@keyframes animasiFooter {
	0% {
		background-position-x:0; 
	}
	100%{
		background-position-x:1400px; 
	}
}

@media only screen and (max-width: 565px){
	footer h3 {
		font-size: 72px;
	}
	footer h4 {
		font-size: 22px;
	}

}

@media only screen and (max-width: 500px){
	footer h3 {
		font-size: 62px;
	}
	footer h4 {
		font-size: 18px;
	}
	footer ul li a span {
		display: none;
	}

}

@media only screen and (max-width: 300px){
	footer h3 {
		font-size: 52px;
	}
	footer h4 {
		font-size: 18px;
	}
	footer ul li a span {
		display: none;
	}

}
/*.wavy {
	width: 100%;
	height: 100px;
	bottom: -5px;
	left: 0;
	background: url(../img/wave.png);
	position: absolute;
	background-size: 500px 100px;
}

section .wavy{
	animation: waveboy 5s linear infinite;
	animation-delay: 0s;
}

@keyframes waveboy {
	0%{
		background-position-x:0;
	}
	100%{
		background-position-x:1000px;
	}
}*/

/*penutup footer*/

